<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ wishlist.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">New item</ion-label>
      <ion-input type="text" [(ngModel)]="itemName" (keyup.enter)="addItem()"></ion-input>
      <ion-button (click)="addItem()" color="tertiary">Add item</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="dark">
      <ion-label>Tasks</ion-label>
    </ion-list-header>

    <ion-item color="dark" *ngFor="let item of wishlist.items">
      <ion-checkbox color="tertiary" slot="start"></ion-checkbox>
      <ion-label>{{ item.desc }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
